@charset 'utf-8';

$mobile: "screen and (max-width:640px)";
@media #{$mobile} {
} //mobile

body {
    padding-top: 30px;
    box-sizing: border-box;
}

#wrap {
    width: 640px;
    margin: 0 auto;
    background-color: #93eee9;
    border-radius: 20px;
    @media #{$mobile} {
        width: 100%;
        height: 100%;
    } //mobile

    > section {
        width: 100%;
        margin: 0 auto;
        padding: 0 20px;
        box-sizing: border-box;

        > .dialogContainer {
            position: relative;
            // width: 100%;
            height: 400px;
            margin: 10px 0;
            padding: 0 10px;
            background-color: #eee;

            > .dialog {
                position: absolute;
                left: 0;
                top: 0;
                overflow-y: scroll;
                width: 100%;
                height: 400px;
                padding: 10px 0;
                box-sizing: border-box;
                &::-webkit-scrollbar {
                    width: 10px; /* 세로축 스크롤바 폭 너비 */
                }

                &::-webkit-scrollbar-thumb {
                    background: #ddd; /* 스크롤바 색상 */
                    border-radius: 10px; /* 스크롤바 둥근 테두리 */
                }

                li {
                    max-width: 70%;
                    margin-top: 8px;
                    font-weight: 500;

                    > span {
                        display: inline-block;
                        padding: 5px;
                        background-color: #fff;
                        border-radius: 8px;
                    }
                }

                .response {
                    position: relative;
                    max-width: 60%;
                    margin-left: 55px;

                    &:before {
                        display: block;
                        position: absolute;
                        left: -45px;
                        top: 0;
                        width: 40px;
                        height: 40px;
                        background-color: #fff;
                        background-size: cover;
                        background-repeat: no-repeat;
                        border-radius: 10px;
                        content: "";
                    }
                } //.response
            } //.dialog

            > .friend {
                display: none;
                .response:before {
                    background-image: url(./../images/rabbit.jpg);
                }
            } //.friend
            > .expert {
                display: block;
                .response:before {
                    background-image: url(./../images/GPT.jpg);
                }
            } //expert
            > .translator {
                display: none;
                .response:before {
                    background-image: url(./../images/bird.png);
                }
            } //.translations
        } //.dialogContainer

        > form {
            padding: 10px 0;
            > fieldset {
                display: flex;
                justify-content: space-between;

                > input {
                    flex: 1 1 0;
                    padding: 8px 5px;
                    outline: 1px solid #dedede;
                }
                > button {
                    background: none;
                    border: none;
                    outline: none;
                    > i {
                        margin-left: 10px;
                        padding: 7px;
                        color: #aaa;
                        font-size: 24px;
                        background-color: #ff0;
                        border-radius: 20%;
                    }

                    > span {
                        position: absolute;
                        left: -9999px;
                    }
                }
            }
        } //.frmMsg

        > .charContainer {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 10px 20px;
            box-sizing: border-box;

            > p {
                width: 30%;
                height: auto;
                font-size: 20px;
                font-weight: 500;
                text-align: center;
                background-color: #ddee93;
                border-radius: 20px;
                cursor: pointer;
            }

            > p.on {
                box-shadow: 0 0 15px #222;
            }
        } //.charContainer

        > p.buttons {
            margin: 20px 0;
            text-align: center;

            > button {
                padding: 5px 10px;
                border: 1px solid #dedede;
            }
        } //p.buttons
    } //section

    > footer > address {
        padding: 10px 0;
        text-align: center;
    }
} //#wrap
