<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
</head>
<body>
    <h1>익스프레스 게시판</h1>

    <h2><a href="/board">게시판으로 이동</a></h2>
</body>
</html>