@charset "UTF-8";
@import "./reset.css";
#wrap > header {
  margin-bottom: 50px;
}
#wrap > header > .mslider {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  transition: all 0.5s;
  position: relative;
  z-index: 300;
}
#wrap > header > .mslider > .leftslider {
  padding-left: 10px;
  font-weight: 800;
}
#wrap > header > .mslider > .rightslider {
  padding-right: 10px;
  font-weight: 600;
}
#wrap > header > .lnb {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
#wrap > header > .lnb > h1 {
  width: 100px;
  font-weight: 800;
  margin-left: 10px;
  text-align: center;
}
#wrap > header > .lnb > h1 > a.goback:hover {
  padding: 0 10px;
  background-color: #f1f168;
  border-radius: 20px;
}
#wrap > header > .lnb .menucontainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  direction: rtl;
  width: 200px;
}
#wrap > header > .lnb .menucontainer > a {
  text-align: center;
}

#wrap > footer > nav.gnb {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 0;
  transition: all 0.5s;
  background-color: #f2f2f2;
}
#wrap > footer > nav.gnb > ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 50px;
}

#wrap {
  width: 100%;
}
@media screen and (min-width: 640px) {
  #wrap {
    height: 100%;
    background-color: yellow;
    position: relative;
  }
  #wrap:before {
    content: "PC버전을 개발중입니다. 640px 이하로 화면을 조정해주세요";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    color: #333;
    text-align: center;
  }
  #wrap > header,
  #wrap > section,
  #wrap > section.chatlist > div.minichat,
  #wrap > footer {
    display: none;
  }
}
#wrap > section.frierds > .mainprofile {
  display: flex;
  width: 100%;
  padding: 10px 0;
}
#wrap > section.frierds > .mainprofile:hover {
  background-color: #fafafa;
}
#wrap > section.frierds > .mainprofile > .frame {
  overflow: hidden;
  width: 50px;
  height: 50px;
  margin: 0 20px;
  border-radius: 30%;
}
#wrap > section.frierds > .mainprofile > .frame > img {
  width: 100%;
  height: 100%;
}
#wrap > section.frierds > .mainprofile > .intro {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
#wrap > section.frierds > .mainprofile > .intro > .name {
  font-weight: 800;
  font-size: 16px;
}
#wrap > section.frierds > .profilecontainer {
  border-top: 1px solid #ccc;
}
#wrap > section.frierds > .profilecontainer > .info {
  display: flex;
}
#wrap > section.frierds > .profilecontainer > .info > input {
  display: none;
}
#wrap > section.frierds > .profilecontainer > .info > input:checked + label {
  background-color: #fafafa;
}
#wrap > section.frierds > .profilecontainer > .info > input:checked + label > .arrow {
  background-position: 0 5px;
}
#wrap > section.frierds > .profilecontainer > .info > label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 30px;
  padding: 0 10px 0 20px;
  line-height: 30px;
}
#wrap > section.frierds > .profilecontainer > .info > label > .arrow {
  width: 20px;
  height: 20px;
  background-image: url(./../images/arrowsprite.png);
  background-position: 0 -22px;
  background-repeat: no-repeat;
}
#wrap > section.frierds > .profilecontainer > .info:has(> input:checked) ~ .miniprofile {
  padding: 0;
}
#wrap > section.frierds > .profilecontainer > .info:has(> input:checked) ~ .miniprofile > .frame {
  height: 0;
}
#wrap > section.frierds > .profilecontainer > .info:has(> input:checked) ~ .miniprofile > .intro,
#wrap > section.frierds > .profilecontainer > .info:has(> input:checked) ~ .miniprofile > .intro > .name {
  font-size: 0;
}
#wrap > section.frierds > .profilecontainer > .miniprofile {
  display: flex;
  width: 100%;
  padding: 10px 0;
  transition: all 0.3s;
}
#wrap > section.frierds > .profilecontainer > .miniprofile:hover {
  background-color: #fafafa;
}
#wrap > section.frierds > .profilecontainer > .miniprofile > .frame {
  overflow: hidden;
  width: 50px;
  height: 50px;
  margin: 0 20px;
  border-radius: 30%;
  transition: all 0.3s;
}
#wrap > section.frierds > .profilecontainer > .miniprofile > .frame > img {
  width: 100%;
  height: 100%;
}
#wrap > section.frierds > .profilecontainer > .miniprofile > .intro {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  transition: all 0.3s;
}
#wrap > section.frierds > .profilecontainer > .miniprofile > .intro > .name {
  font-weight: 800;
  font-size: 16px;
  transition: all 0.3s;
}
#wrap > section.chatlist {
  display: flex;
  flex-flow: column nowrap;
}
#wrap > section.chatlist > .minichat {
  display: flex;
  position: relative;
  z-index: 200;
  width: 100%;
  padding: 10px 0;
}
#wrap > section.chatlist > .minichat:hover {
  background-color: #eee;
}
#wrap > section.chatlist > .minichat > .frame {
  overflow: hidden;
  width: 50px;
  height: 50px;
  margin: 0 20px;
  border-radius: 30%;
}
#wrap > section.chatlist > .minichat > .frame > img {
  width: 100%;
  height: 100%;
}
#wrap > section.chatlist > .minichat > .chatintro {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 65%;
}
#wrap > section.chatlist > .minichat > .chatintro > .chatname {
  font-weight: 800;
  font-size: 16px;
}
#wrap > section.chatlist > .minichat > .chatintro > .preview {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#wrap > section.chatlist > .minichat > .chattime {
  position: absolute;
  right: 20px;
  top: 40%;
}
#wrap > section.openchat > .menucontainer {
  display: flex;
  align-items: center;
  width: 100%;
}
#wrap > section.openchat > .menucontainer > .menuitems {
  margin-left: 20px;
  padding: 10px;
  font-weight: 800;
  letter-spacing: 3px;
  border: 1px solid #ddd;
  border-radius: 20px;
}
#wrap > section.openchat > .menucontainer > .menuitems:nth-child(1) {
  background-color: #a8d0f1;
}
#wrap > section.openchat > .menucontainer > .menuitems:nth-child(1) > i {
  color: #336cd6;
}
#wrap > section.openchat > .menucontainer > .menuitems:nth-child(2) {
  color: #fff;
  background-color: #000;
}
#wrap > section.openchat > .openchatcontainer {
  padding-top: 40px;
}
#wrap > section.openchat > .openchatcontainer > .tit {
  margin-left: 20px;
  padding: 10px 0;
  font-weight: 600;
  font-size: 20px;
}
#wrap > section.openchat > .openchatcontainer > .miniopenchat {
  display: flex;
  width: 100%;
  padding: 10px 0;
}
#wrap > section.openchat > .openchatcontainer > .miniopenchat:hover {
  background-color: #eee;
}
#wrap > section.openchat > .openchatcontainer > .miniopenchat > .frame {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 50px;
  height: 50px;
  margin: 0 20px;
  border-radius: 50%;
}
#wrap > section.openchat > .openchatcontainer > .miniopenchat > .frame > img {
  width: 120%;
  height: 120%;
}
#wrap > section.openchat > .openchatcontainer > .miniopenchat > .openchatrank {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 30px;
  height: 50px;
  margin-left: -10px;
  font-weight: 800;
  text-align: center;
}
#wrap > section.openchat > .openchatcontainer > .miniopenchat > .openchatrank > .status {
  display: block;
  color: orange;
}
#wrap > section.openchat > .openchatcontainer > .miniopenchat > .intro {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin-left: 15px;
}
#wrap > section.openchat > .openchatcontainer > .miniopenchat > .intro > .name {
  font-weight: 800;
  font-size: 16px;
}
#wrap > section.listmore > .paycontainer {
  width: 100%;
  height: 200px;
  background-color: #fae100;
}
#wrap > section.listmore > .paycontainer > .payheader {
  display: flex;
  justify-content: space-between;
  height: 50px;
  margin: 0 20px;
  font-weight: 800;
  font-size: 24px;
  line-height: 50px;
}
#wrap > section.listmore > .paycontainer > .payheader > .certificate {
  font-weight: 400;
  font-size: 18px;
}
#wrap > section.listmore > .paycontainer > .adv {
  position: relative;
  height: 50px;
  margin: 0 20px;
  padding-left: 10px;
  font-size: 16px;
  line-height: 50px;
  background-color: beige;
}
#wrap > section.listmore > .paycontainer > .adv > i:last-child {
  position: absolute;
  right: 15px;
  top: 16px;
}
#wrap > section.listmore > .paycontainer .paysection {
  display: flex;
  justify-content: space-between;
  height: 50px;
  margin: 0 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 50px;
}
#wrap > section.listmore > .paycontainer .payfooter {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  height: 50px;
  margin: 0 20px;
  font-weight: 600;
  font-size: 16px;
}
#wrap > section.listmore > .paycontainer .payfooter > p:last-child {
  grid-column: 5/7;
  text-align: end;
}
#wrap > section.listmore > .menus > .frame > img {
  width: 100%;
}
#wrap > section.settings > .mainprofile {
  display: flex;
  width: 100%;
  padding-bottom: 20px;
}
#wrap > section.settings > .mainprofile > .frame {
  overflow: hidden;
  width: 50px;
  height: 50px;
  margin: 0 20px;
  border-radius: 30%;
}
#wrap > section.settings > .mainprofile > .frame > img {
  width: 100%;
  height: 100%;
}
#wrap > section.settings > .mainprofile > .intro {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
#wrap > section.settings > .mainprofile > .intro > .name {
  font-weight: 800;
  font-size: 16px;
}
#wrap > section.settings > .setmenucontainer > .setmenus > a {
  display: block;
  width: 100%;
  height: 60px;
  padding-left: 20px;
  font-weight: 700;
  font-size: 24px;
  line-height: 60px;
  box-sizing: border-box;
}
#wrap > section.settings > .setmenucontainer > .setmenus > a:hover {
  background-color: #fafafa;
}
#wrap > section.settings > .setmenucontainer > .setmenus > a > span {
  margin-left: 10px;
}
#wrap > section.fullprofile {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 100;
  width: 100%;
  height: 0;
  color: #fff;
  background-color: #000;
  background-image: url("./../images/main_bg.jpg");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.5s;
}
#wrap > section.fullprofile > .fullclose {
  display: none;
  width: 20px;
  height: 20px;
  margin-top: 40px;
  margin-left: 10px;
  color: #fff;
  font-size: 20px;
  text-align: center;
}
#wrap > section.fullprofile > .minicontainer {
  position: absolute;
  left: 50%;
  top: 70%;
  z-index: 800;
  width: 200px;
  margin-left: -100px;
}
#wrap > section.fullprofile > .minicontainer > .frame {
  overflow: hidden;
  width: 100px;
  height: 0;
  margin: 0 auto;
  border-radius: 30%;
}
#wrap > section.fullprofile > .minicontainer > .frame > img {
  width: 100%;
  height: 100%;
}
#wrap > section.fullprofile > .minicontainer > .name {
  height: 0;
  font-weight: 700;
  font-size: 0;
  line-height: 40px;
  text-align: center;
}
#wrap > section.fullprofile > .minicontainer > .status {
  font-weight: 500;
  font-size: 0;
  text-align: center;
}
#wrap > section.chatpage {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 100;
  width: 100%;
  height: 0;
  font-size: 16px;
  background-color: #9e9e9e;
  transition: all 0.5s;
}
#wrap > section.chatpage > h2 {
  display: none;
  position: absolute;
  top: 20px;
  width: 50%;
  height: 40px;
  margin-top: 0;
  padding: 0 10px;
  color: #000;
  font-weight: 800;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#wrap > section.chatpage > h2 > a.chatclose:hover {
  padding: 0 10px;
  background-color: #f1f168;
  border-radius: 20px;
}
#wrap > section.chatpage > .chatcontainer {
  display: none;
  grid-template-columns: 30% 50% 20%;
  overflow-y: auto;
  position: absolute;
  bottom: 50px;
  width: 100%;
  max-height: calc(100% - 105px);
  transition: all 0.5s;
}
#wrap > section.chatpage > .chatcontainer::-webkit-scrollbar {
  width: 10px;
}
#wrap > section.chatpage > .chatcontainer::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}
#wrap > section.chatpage > .chatcontainer > p {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  padding: 5px;
}
#wrap > section.chatpage > .chatcontainer > p > span {
  display: inline-block;
  padding: 5px 10px;
  font-weight: 500;
  border-radius: 10px;
}
#wrap > section.chatpage > .chatcontainer > p > img {
  display: block;
  overflow: hidden;
  width: 100%;
  border-radius: 20px;
}
#wrap > section.chatpage > .chatcontainer > .mychat {
  justify-content: flex-end;
  align-items: end;
  text-align: right;
  grid-column: 2/4;
}
#wrap > section.chatpage > .chatcontainer > .mychat > span {
  position: relative;
  background-color: yellow;
}
#wrap > section.chatpage > .chatcontainer > .mychat .chat,
#wrap > section.chatpage > .chatcontainer > .mychat img {
  max-width: calc(100% - 50px);
}
#wrap > section.chatpage > .chatcontainer > .mychat .chat + .date,
#wrap > section.chatpage > .chatcontainer > .mychat img + .date {
  display: inline-block;
  font-size: 10px;
  background: transparent;
  order: -100;
}
#wrap > section.chatpage > .chatcontainer > .friendschat {
  display: flex;
  flex-flow: row nowrap;
  grid-column: 1/3;
}
#wrap > section.chatpage > .chatcontainer > .friendschat > span,
#wrap > section.chatpage > .chatcontainer > .friendschat img {
  max-width: calc(100% - 60px);
  margin-top: 0;
  margin-left: 60px;
  background-color: #fff;
  box-sizing: border-box;
}
#wrap > section.chatpage > .chatcontainer > .friendschat > .miniprofile {
  width: 50px;
  height: 50px;
  margin-left: 0;
  margin-right: 10px;
  padding: 0;
}
#wrap > section.chatpage > .chatcontainer > .friendschat > .name {
  position: absolute;
  left: 60px;
  top: -30px;
  font-size: 14px;
  line-height: 30px;
  background: transparent;
}
#wrap > section.chatpage > .chatcontainer > .friendschat .chat,
#wrap > section.chatpage > .chatcontainer > .friendschat img {
  max-width: calc(100% - 110px);
  text-align: left;
}
#wrap > section.chatpage > .chatcontainer > .friendschat .date {
  display: flex;
  align-items: flex-end;
  font-size: 10px;
  background: transparent;
}
#wrap > section.chatpage > .chatcontainer > .friendschat > .miniprofile ~ span,
#wrap > section.chatpage > .chatcontainer > .friendschat > .miniprofile ~ img {
  margin-top: 20px;
  margin-left: 0;
}
#wrap > section.chatpage:has(input:focus) > .chatcontainer {
  max-height: calc(100% - 430px);
  bottom: 375px;
}
#wrap > section.chatpage > .inputcontainer {
  display: flex;
  flex-flow: column nowrap;
  position: fixed;
  bottom: 0;
  width: 100%;
}
#wrap > section.chatpage > .inputcontainer > .chatinput {
  display: grid;
  grid-template-columns: 40px 1fr 40px 40px;
  grid-auto-rows: 100%;
  grid-auto-columns: 100%;
  width: 100%;
  height: 0;
  background-color: #fff;
}
#wrap > section.chatpage > .inputcontainer > .chatinput > input {
  height: 50px;
  padding-left: 10px;
  font-size: 25px;
}
#wrap > section.chatpage > .inputcontainer > .chatinput > input:focus {
  outline: none;
}
#wrap > section.chatpage > .inputcontainer > .chatinput > p > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 25px;
  color: #666;
}
#wrap > section.chatpage > .inputcontainer > .qwerty {
  display: none;
  width: 100%;
  height: 0;
  background-color: #000;
  background-image: url(./../images/qwerty.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.5s;
}
#wrap > section.chatpage > .inputcontainer > .chatinput:has(> input:focus) + .qwerty {
  height: 325px;
}/*# sourceMappingURL=style.css.map */